.caja-comentBOx{
    background-color: #000040;
    padding: 1em;
    width: 80%;
    height: max-content;
    word-wrap: normal;


}
.UserNameComent{
    text-align: center;
    width: 100%;
    height: 10%;
    margin: 0;
    
}
.UserNameComent h6 {
    color: #fff;
    padding-top: 0.5em;
    padding-left: 0.5em;
    border-bottom: #DA9B44 solid;
    padding-bottom: 0.9em;
    font-size: 1em;
    margin: 0;
}
.comentBOXtext{
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.textComent{
    color: aliceblue;
    text-align: center;



}
@media (max-width:768px) {
    .caja-comentBOx{
        
        padding: 1em;
        width: 80%;
        height: max-content;
        word-wrap: normal;

    
    }
    .UserNameComent{
        text-align: center;
        width: 100%;
        height: 10%;
        margin: 0;
        
    }
    .UserNameComent h6 {
        color: #fff;
        padding-top: 0.5em;
        padding-left: 0.5em;
        border-bottom: #DA9B44 solid;
        padding-bottom: 0.9em;
        font-size: 1em;
        margin: 0;
    }
    .comentBOXtext{
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    .textComent{
        color: aliceblue;
        text-align: center;



    }
}
