.caja-superior-cuadro-para-ver{
    height: auto;
    width: 9em;
    padding-top: 0.2em;
  
 
    
    
    color: #fff;

}
.caja-superior-cuadro-para-ver h6{
    height: auto;
    margin: 0;
    
    font-size: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: #fff;

}
.caja-superior-cuadro-para-ver:hover{
    box-shadow: 0px 0px 20px rgba(218, 155, 68,100);
    outline: #DA9B44;
     
    outline-style: groove;
    outline-width: 1px;
    transition: all  1s  cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.principal-pv{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.cjpv-image{
    width: 100%;
    height: 10em;
}
.cjpv-image img{
    width: 100%;
    height: 100%;
}
.cjpv-ver{
    background-color: #DA9B44;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.cjpv-ver img{
    cursor: pointer;
    width: 1em;
    height: 1em;
    margin: 0;
  
}
.cjpv-ver img:hover{
    background-color: #9D1B51 ;
}
.cjpv-ver img:active{
    background-color: #9D1B51 ;
}
.cjpv-ver a{
    width: 100%;
    text-shadow: none;
}
.cjpv-ver a:hover{

    background-color: #9D1B51;
}
.cjpv-ver a:active{

    background-color: #9D1B51;
}