 
 
    .cajon-top{
        animation: aprarecer 1s cubic-bezier(0.62, 0, 0.19, 1)  forwards;
        color: #fff;
        word-wrap: normal;
        text-align: center;
        align-content: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        gap: 1em;
        background-color: transparent;
        align-items: center;
    }
    .cajon-imagen-top{
      
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0;
        width: 10em;
        height: max-content;
    }
    .cajon-imagen-top:hover{
        box-shadow: 0px 0px 100px rgba(218, 155, 68,100);
    
        outline-style: groove;
        outline-color : #DA9B44 ;
        outline-width: 1px; 
        transition: outline-width  10s  cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    }
    .cajon-imagen-top:focus{
        box-shadow: 0px 0px 100px rgba(218, 155, 68,100);
    
        outline-style: groove;
        outline-color : #DA9B44 ;
        outline-width: 1px; 
        transition: outline-width  10s  cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .datos-top{
        max-height: 50%;
        width: 10em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
        word-wrap: normal;
        word-break: normal;

    }
   
    .numero-top{
        display: flex;
        text-align: center;
        justify-content: center;
        justify-content: center;
        width: 1.5em;


    }
    .numero-top h1{
        
        margin: auto;
        font-size: 3em;
    }
    .cartelera-top{
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
    .fecha-top{
        font-size: 1em;
    }
    .tituloPeli-top{
        margin: 0;
        word-wrap: break-word;
        font-size: 1em;
    
    }
    .tituloPeli-top h3{
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 1em;
    }

    .cajon-puntuacion-top{
        font-size: 1em;
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        align-items: center;

    }
    .cajon-puntuacion-top img{
        width: 20px;
        height: 20px;

    }
    .puntuacion-top{
       
        color: #DA9B44;
    }
    .boton-trailer-top{
        border: none;
        color: #fff;
        width: 8em;
        height: 2.5em;
        background-color: #DA9B44;
    }
    .boton-trailer-top:active{
        background-color:#9D1B51;
    }
    .boton-trailer-top:hover{
        background-color:#9D1B51;
    }




@media (max-width:768px) {
 
    .cajon-top{
        word-wrap: normal;
        text-align: center;
        
        padding-bottom: 2em;
        padding-right: 0;
        align-content: center;
        display: flex;
        max-width: 100%;
        width:  100%;
        height: 100%;

    
   
        background-color: transparent;
        align-items: center;
    }
    .cajon-imagen-top{
     
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 5px;
        width: 50%;
        height: 100%;
    }
    .datos-top{
        max-height: 48%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
        text-align: center;
        word-wrap: normal;
        word-break: normal;

    }
   
    .numero-top{
        display: flex;
        text-align: center;
        justify-content: center;
        justify-content: center;
        width: 1.5em;


    }
    .numero-top h1{
        
        margin: auto;
        font-size: 3em;
    }
    .cartelera-top{
        max-width: 100%;
        max-height: 90%;
        height: 90%;
    }
    .fecha-top{
        font-size: 1em;
    }
    .tituloPeli-top{
        margin: 0;
        word-wrap: normal;
        font-size: 1em;
    
    }
    .tituloPeli-top h3{
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 1.1em;
    }

    .cajon-puntuacion-top{
        font-size: 1em;
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        align-items: center;

    }
    .cajon-puntuacion-top img{
        width: 20px;
        height: 20px;

    }
    .puntuacion-top{
       
        color: #DA9B44;
    }
    .boton-trailer-top{
        border: none;
        color: #fff;
        width: 8em;
        height: 2.5em;
        background-color: #DA9B44;
    }
    .boton-trailer-top:active{
        background-color:#9D1B51;
    }
    .boton-trailer-top:hover{
        background-color:#9D1B51;
    }


}
@media (max-width:368px) {
    .tituloPeli-top h3{
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 1em;
    }
    .fecha-top{
        font-size: 0.8em;
    }
    .cajon-puntuacion-top{
        font-size: 0.8em;
    }
  
}
@keyframes aprarecer {
    0%{

        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}