.ver-mas-top{
    
    border: none;
    color: #fff;
    text-shadow: none;
    background-color: #DA9B44;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    font-size: medium;
    
}
.ver-mas-top:hover{
    background-color:#9D1B51;
}
.ver-mas-top:active{
    background-color: #9D1B51;
}
.ver-mas-fav{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    background-color: #DA9B44;
    width: 100%;
   
}
.ver-mas-fav img{
  
    padding-left: 5px;
    padding-right: 5px;
    width: 1.2em;
    height: auto;
}
.ver-mas-fav img:hover {

    background-color: #9D1B51;
}
@media (max-width: 768px) {
    .ver-mas-top{
        
        border: none;
        color: #fff;
        text-shadow: none;
        background-color: #DA9B44;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    
    }
    .ver-mas-top:hover{
        background-color:#9D1B51;
    }
    .ver-mas-top:active{
        background-color: #9D1B51;
    }
    .ver-mas-fav{
        display: flex;
        flex-direction: row;
    
        background-color: #DA9B44;
        width: 100%;
       
    }
    .ver-mas-fav img{
      
        padding-left: 10px;
        padding-right: 10px;
        width: 2em;
        height: 100%;
    }
    .ver-mas-fav img:hover {
    
        background-color: #9D1B51;
    }
}