
*{
    padding: 0;
    box-sizing: border-box;
    margin:0;
    font-family: sans-serif;

}
.block-sroll{
    overflow: hidden;
}
.block-sroll2{
    overflow: auto;
}



html{
    
    font-size: 62.5%;
    font-family: sans-serif;
    font-size: 17px;
}
html::-webkit-scrollbar{
    display: none;
}
html::-webkit-scrollbar-thumb{
    background-color: #DA9B44;
    overflow-y: auto;
}
.lds-ring {
    display: inline-block;
    position: absolute ;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 3px solid #DA9B44;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #DA9B44 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
.loader{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1000000000000000000000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.3s ease-in-out ;
}
.loader2{
    clip-path: circle(0% at 100% 0);
}
  


body{

    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,10);
    position: relative;
}

.logo{
    overflow-y: auto;
}
nav{
    display: flex;
    align-content: center;
    overflow: auto;
    align-items: center;
    box-shadow: 0px 3px 0px 0px rgba(218, 155, 68,90);
    background-color:  transparent;
}
nav span{

    cursor: pointer;
}

aside{
    display: none;
    transform: translateX(-100%);
    background-color: black;
    width: 170px;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    overflow-y:  hidden;
    margin-top: 74px;
    border-bottom: 20px solid  ;
    box-shadow: 3px 0px 0px 0px rgba(218, 155, 68,70);
    transition: ease-in-out 0.5s;

}
aside:hover{
    overflow-y: auto;
}
.desplegar{
    height: 100%;
    transition: ease-in-out 0.5s;
    transform: translateX(0) ;
    
}
aside::-webkit-scrollbar-track{
    background-color: #3A3042;
    border-radius: 5px;

}
.contenedor_botones{
    margin-left: 2em;
}
.links_menu{
    text-decoration: none;
    margin-left: 30px;
    color: #DA9B44;
    width: 100%;
}
.links_menu:hover{
    font-size: large;
}
.contenedor_botones{
    align-items: top;
    display: flex;
    fill: aliceblue;
    flex-direction: row;
    padding:10px ;

}


.contenedor_botones div{
    padding: 10px
}
.contenedor_botones div:hover{
    transition: ease-in 0.4s;
    background-color: #156064 ;
    
}
.container-svg div{
    display: flex;
    align-items: cenmter;
    width: 100%;
    padding: 20px 20px;
    cursor: pointer;
}
.container-svg div svg{
    fill: aliceblue;
}

.container-svg div:hover{
    background-color: #156064;
    transition: ease-in-out background-color 0.5s;   
}
.container-svg div span{
    margin-left: 30px;
    margin-bottom: 10px;
}
.links_botones{
    padding-left: 10px;
    text-decoration: none;
    color: #DA9B44;
    margin-right: 10px;
}
.icono-menu{
    display: none;
    fill: aliceblue;
}
.icono-menu:hover{
    
    
    fill: #DA9B44;
    transform: scale(1.04);

}
.buscador{
    border: 0px;
    text-align: center;
    border-radius: 20px;   
    height: 30px;
    
    width: 300px;
}

.buscador:hover{
    
    background-color: #156064 ;
}
.perfil{
    
    margin-left: auto;
   border-radius: 20px;
}

.box_registrarse{
    display: flex;
    justify-items: center;
    align-items: center;
    
}
.perfil svg{
    border-radius: 100px;
    width: 50px;
    fill: aliceblue;
}
.perfil svg:hover{
    
    background-color: #156064;
    border-radius: 100px;

}
   
.snap_dev{
    padding-top: 1rem;
    padding-left: 2rem;
    justify-content: center;
    width: 25%;
    color: #DA9B44;
}
.persona{
    display: flex;
    flex-direction: row;
}
.persona div a svg{
    width: 24px;
    height: 24px;
    fill: aliceblue;
}

.cajon-imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: initial;
    margin-top: 10%;
    margin-left: 20vw;
    align-items: center;
    padding: auto;
    width: 100%;

}
.cajon-imagenes div{
    margin-left:1rem;
    margin-bottom: 0.5em;
}

.cajon-imagenes div h1{
    padding: 1rem;
    color: #DA9B44;
    font-size:medium ;

}



@media (max-width:1248px){
    .imagen{
        width: 400px ;
    }
    aside{
        margin-top: 4.4rem;
        display: flex;
        height: 100%;
        z-index: 1;
    }
    .icono-menu{
        display: block;
    }
    .contenedor_botones{
        display: none;
    }
    .cajon-inicio{
        margin-top: 17%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .cajon-inicio h1 {
        margin-bottom: 1rem;
        color: #DA9B44;
    }
    .cajon-imagenes{
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
        flex-grow: initial;
        margin-top: 6%;
        margin-left: 2vw;
        align-items: center;
        padding: auto;
        width: 100%;
    
    }
   
}
@media  (max-width:768px)

{

aside{
    margin-top: 73px;
    height:  100%;
    background-color: rgba(0, 0, 0,10) ;
    z-index: 1;
}
.desplegar{
    z-index: 1;
}


.cajon-inicio{

    margin-top: 25%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.cajon-inicio h1 {
    margin-bottom: 1rem;
    color: #DA9B44;
}
.buscador{
    width: 150px;
}
.cajon-imagenes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: initial;
    margin-top: 6%;
    margin-left: 2vw;
    align-items: center;
    padding: auto;
    width: 100%;

}
}




@media (max-width: 599px){

    .buscador{
        width: 100px;
    }
    .logo{
        width: 120px;
        height: 50px;
    }
    aside{
        margin-top: 57px;
        height: 100%;
    }
   
}
@media (max-width: 360px){
    aside{
        margin-top: 57px;
        height: 100%;
    }
    .desplegar{
        height: 100%;
    }
    .buscador{
        margin-right: 15px;
        width: 90px;
    }
    


    .cajon-inicio{
        margin-top: 25%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .cajon-inicio h1 {
        margin-bottom: 1rem;
        color: #DA9B44;
    }
    .icono-menu{
        width: 25px;
        height: 25px;
    }
    .logo{
        width: 120px;
        height: 50px;
    }


 

}


 @keyframes girar{
     from { transform: rotate(0deg);}
     to{transform: rotate(360deg);}
 }
 
 @keyframes aparecer {
     0%{
         transform: translateX(100%);
        
     }
     100%{
         transform: translateX(0%);
     }
 }
 @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  
}

 