
*{
    padding: 0;
    box-sizing: border-box;
    margin:0;
    font-family: sans-serif;

}
.block-sroll{
    overflow: hidden;
}
.block-sroll2{
    overflow: auto;
}
.lds-ring {
    display: inline-block;
    position: absolute ;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 3px solid #DA9B44;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #DA9B44 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
.loader{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1000000000000000000000;
    clip-path: circle(150% at 100% 0);
    transition:  clip-path 0.3s ease-in-out ;
}
.loader2{
    clip-path: circle(0% at 100% 0);
}


html{

    font-size: 62.5%;
    font-family: sans-serif;
    font-size: 17px;
}
html::-webkit-scrollbar{
    display: none;
}
html::-webkit-scrollbar-thumb{
    background-color: #DA9B44;
    overflow-y: auto;
}


body{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,10);
    position: relative;
}

.logo{
    overflow-y: auto;
}
nav{
    z-index: 100;
    display: flex;
    align-content: center;
    overflow: auto;
    align-items: center;
    box-shadow: 0px 3px 0px 0px rgba(218, 155, 68,90);
    background-color:  transparent;
}
nav span{

    cursor: pointer;
}

aside{
    z-index: 1000;
    display: none;
    transform: translateX(-100%);
    background-color: black;
    width: 170px;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    overflow-y:  hidden;
    margin-top: 74px;
    border-bottom: 20px solid  ;
    box-shadow: 3px 0px 0px 0px rgba(218, 155, 68,70);
    transition: ease-in-out 0.5s;

}
aside:hover{
    overflow-y: auto;
}
.desplegar{
    height: 100%;
    transition: ease-in-out 0.5s;
    transform: translateX(0) ;
    
}
aside::-webkit-scrollbar-track{
    background-color: #3A3042;
    border-radius: 5px;

}
.contenedor_botones{
    margin-left: 2em;
}
.links_menu{
    text-decoration: none;
    margin-left: 30px;
    color: #DA9B44;
    width: 100%;
}
.links_menu:hover{
    font-size: large;
}
.contenedor_botones{
    align-items: top;
    display: flex;
    fill: aliceblue;
    flex-direction: row;
    padding:10px ;

}


.contenedor_botones div{
    padding: 10px;
}
.contenedor_botones div:hover{
    transition: ease-in 0.4s;
    background-color: #156064 ;
    
}
.container-svg div{
    display: flex;
    align-items: cenmter;
    width: 100%;
    padding: 20px 20px;
    cursor: pointer;
}
.container-svg div svg{
    fill: aliceblue;
}

.container-svg div:hover{
    background-color: #156064;
    transition: ease-in-out background-color 0.5s;   
}
.container-svg div span{
    margin-left: 30px;
    margin-bottom: 10px;
}
.links_botones{
    padding-left: 10px;
    text-decoration: none;
    color: #DA9B44;
    margin-right: 10px;
}
.icono-menu{
    display: none;
    fill: aliceblue;
}
.icono-menu:hover{
    
    
    fill: #DA9B44;
    transform: scale(1.04);

}
.buscador{
    border: 0px;
    text-align: center;
    border-radius: 20px;   
    height: 30px;
    
    width: 300px;
}

.buscador:hover{
    
    background-color: #156064 ;
}
.box_registrarse{
    display: flex;
    justify-items: center;
    align-items: center;
}
.perfil svg{
    border-radius: 100px;
    width: 50px;
    fill: aliceblue;
}
.perfil svg:hover{
    
    background-color: #156064;
    border-radius: 100px;

}
.video{
    box-shadow:   #DA9B44;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top : 5%;
    height: auto;
    width: 90%;
    z-index: 0;
    box-shadow: 0px 0px 5px 3px #DA9B44;
    
}


.cuerpo-prinipal{
    z-index: 0;
   
    height: 100%;

}

.cuerpo-prinipal p {
    word-wrap: break-word;
    max-width: 70%;
    padding: 1rem;
    margin-top: 20px ;
    padding: auto;
    color: aliceblue;
}
.cuerpo-prinipal h1{
    padding-top: 1rem;
    padding-left: 1rem;
    color: aliceblue;
}
.InicioYRegistro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}
.InicioYRegistro a{
    color: #DA9B44;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
}
@media (max-width:1248px){
    .contenedor_botones{
     display: none;
    }
    .icono-menu{
     display: block;
    }
    aside{
        display: block;
        height: 110vh;
    }
    .desplegar{
        height: 110vh;
    }
 }
 @media  (max-width:768px)
 
 {
     aside{
         margin-top: 56px;
         height: 100%;
         background-color: rgba(0, 0, 0,10) ;
         
     }
     .perfil svg{
        border-radius: 100px;
        width: 50px;
        fill: aliceblue;
        margin-left: 8em;
    }
    .perfil svg:hover{
        
        background-color: #156064;
        border-radius: 100px;
    
    }
     
     .numero_top{
         text-align: left;
         color: #DA9B44;
         width: 10%;
         height: 10%;
         font-size: small;
 
     }
     .contenedor_top{
         display:flex;
         flex-direction: row;
         justify-content: space-between;
         width: 100%;
     }
     .titulo{
         font-size: 1em;
         margin-left:5%;
         color: #156064;
     }
     .contenedor_top{
         display:flex;
         flex-direction: column;
         justify-content: space-between;
            
     }
     .Datos{
         margin-left: 10px;
     }
     .contenedor{
         margin-left: 10px;
     }
    .desplegar{
        
        height: 100%;
    }
     .top{
 
         padding: 10px 2px;
         display: flex;
         flex-direction: row;
         justify-content: left;
         align-content: left;
         width: 150%;
 
 
     }
     
    .links_menu{
         
 
         text-decoration: none;
         margin-left: 20px;
         color: #DA9B44;
         width: 100%;
     }
     .icono-menu{
         width: 20px;
         height: 20px;
         margin-left: 5px;
     }
     .logo{
         margin-left: 10px;
         width: 120px;
         height: 50px;
     }
     .caja_buscador{
         margin-left: 0px;
         width: 30px;
     }
     .buscador{
         width: 150px;
     }
     
 
     
 }
 @media (max-width: 360px){
     aside{
         margin-top: 57px;
         height: 100%;
     }
     .desplegar{
         height: 100%;
     }
     .buscador{
         width: 120px;
     }
 
 }
 
 
 @keyframes girar{
     from { transform: rotate(0deg);}
     to{transform: rotate(360deg);}
 }
 
 @keyframes aparecer {
     0%{
         transform: translateX(100%);
 
     }
     100%{
         transform: translateX(0%);
     }
 }
 @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }