.menu_bot{
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    border: 0;

    background-color: #00001790;

}
button{
    border: 0;
    background-color: transparent;
    padding: 1em 2px;
    height: 100%;
    width: 100%;
}