.cuerpo-principal{
    width: 100%;
    height: auto;
    background-color: #000017;  
    display: flex;
    height: 100%;
    flex-direction: column;
    color: #fff;
}

.textoINI{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    padding: 2em;
    font-size: 3em;
   
}
video{
    width: 100%;
    margin-top: 0.5em;
    overflow-clip-margin: content-box;;
    object-fit: fill; 
    height: 80%;
    box-shadow: 0px 0px 10px 5px #DA9B44;
    
    
}
.cajon-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.cajon-parrafo{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 0em; 
    width: 100%; 
    padding-bottom: 3em;
    flex-direction: row;
}
.parrafo {
    
    width: 50%;
    background-color: #000010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: normal;
    font-size: 1.5em ;
    padding: 3em;

}
.linksinicio{

    margin-bottom: 2em;
    padding-bottom:1em ;
}

@-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }