
.Reg{
    margin-top: 0.5em;

}
.subcaja-inicio{
    
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    display: flex;
    
    flex-direction: column;
    height: 100%;
    width: 100%;
   color: #fff;
}
.formularioInicio{

    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 50%;
    width: 100%;
    
}
.enlaceRecuCon{
   
    cursor: pointer;
    padding-top: 1em;
    padding: 0;
    
    width: 15em;
    text-align: center;
}
.enlaceRecuCon:hover{
    background-color: transparent;
}
.enlaceRegistro{
    cursor: pointer;
    width: 12em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1em;
    margin-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 0;
    border: 0;
    border-radius: 0;
    color: #fff;
    background-color: transparent;

}
.enlaceRegistro:hover{
    background-color: #DA9B44;
}
.enlaceRegistro:active{
    background-color: #DA9B44;
}
.botonIniciosesio{
    cursor: pointer;
    width: 10em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    border-radius: 0;
    color: #fff;
    background-color: transparent;
}
.botonIniciosesio:hover{
    background-color: #DA9B44;
}
.botonIniciosesio:active{
    background-color: #DA9B44;
}
.botonesDeRegistoroEInicioIni{
    gap: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
}
.formularioInicio input:focus::placeholder {
    
    opacity: 0;
    transition: opacity .3s;
}
.formularioInicio input:focus{
    box-shadow: 0px 0px 100px rgba(218, 155, 68,100);
    
    outline-style: groove;
    outline-color : #DA9B44 ;
    outline-width: 1px; 
    transition: outline-width  10s  cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.usernameI{
    outline-style: none;
    width: 80%;
    height: max-content;
    text-align: left;
    border-radius: 5px;
    outline-offset: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
   }
   .email{
    text-align: left;
    outline-style: none;
    width: 80%;
    height: max-content;
    
    border-radius: 5px;
    outline-offset: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
   }
   .passwordI{
    text-align: left;
    width: 80%;
    outline-style: none;
    height: max-content;
    border-radius: 5px;
    outline-offset: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

   }
   .username{
    text-align: left;
    outline-style: none;
    width: 80%;
    height: max-content;
   
    border-radius: 5px;
    outline-offset: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
   }
   .password{
    text-align: left;
    outline-style: none;
    width: 80%;
    height: max-content;
   
    border-radius: 5px;
    outline-offset: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
   }
   .botonesDeRegistoroEInicioIni{
    width: 90%;
    font-size: 1em;
    gap: 1em;
   }
   .botonIniciosesio:active{
    background-color: #DA9B44;
}
   .botonIniciosesio{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
   }
   .enlaceRegistro{
    margin-top: 5px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
   }
   .enlaceRegistro:hover{
    background-color: #DA9B44;
}
.enlaceRegistro:active{
    background-color: #DA9B44;
}
.formularioInicio{
    margin-top: 0em;
    margin-bottom: 3em;
    animation:dyspley 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    background-color: #000040;
    width: 80%;
    height: auto;
    padding-top: 1em;
    padding-bottom: 2em;
    transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (max-width:768px) {
    .Reg{
        margin-top: 0;
        margin-bottom: 2em;
    }
    .formularioInicio input:focus::placeholder {
        opacity: 0;
        
        transition: opacity .6s;
       
        
    }
 
   .usernameI{
    
    width: 80%;
    height: max-content;
    text-align: left;
    border-radius: 5px;
    outline-offset: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    
   }
   .username{
    text-align: left;
    outline-style: none;
    width: 80%;
    height: max-content;
   
    border-radius: 5px;
    outline-offset: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    
   }
   .password{
    text-align: left;
    outline-style: none;
    width: 80%;
    height: max-content;
   
    border-radius: 5px;
    outline-offset: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    
   }
   .email{
    text-align: left;
    outline-style: none;
    width: 80%;
    height: max-content;
    
    border-radius: 5px;
    outline-offset: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    
   }
   .passwordI{
    text-align: left;
    width: 80%;
    outline-style: none;
    height: max-content;
    border-radius: 5px;
    outline-offset: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;

   }
   .botonesDeRegistoroEInicioIni{
    width: 90%;
    font-size: 1em;
    gap: 1em;
   }
   .botonIniciosesio:active{
    background-color: #DA9B44;
}
   .botonIniciosesio{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
   }
   .enlaceRegistro{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
   }
   .enlaceRegistro:hover{
    background-color: #DA9B44;
}
.enlaceRegistro:active{
    background-color: #DA9B44;
}
.formularioInicio{
    background-color: #000040;
    width: 80%;
    height: auto;
    margin-bottom: 6em;
}
}
@keyframes dyspley {
    
    0%{
        opacity: 0;
        height: 0;
    }
    30%{
       
    }
    100%{
        opacity: 1;
        height: 60%;
    }
}

