
.caja-principal-pc{
   
    color: #fff;
    gap: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 100%;
}   
.tituloComent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 2em;
}
.Caja-comentario{
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(20px, 25em));
    grid-auto-flow: dense;
    display: grid;
    
    gap: 0.5em;
    
    width: 100%;
    height: auto;
    padding-bottom: 3em;
  
    

}
.tituloComent button{
    border: 0;
    background-color: #DA9B44;
    border-radius: 100px;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
 
    color: #fff;
}
.tituloComent button:hover{
    background-color: #9D1B51;
}
.tituloComent button:active{
    background-color: #9D1B51;
}
.estrellita-pc{
    width:100%;
    height: 2em;
}
.estrellita-pc img{
    width: 2em;
    height: 2em;
}
.caja-imagen-pc{
   
    
    padding: 2em;
    padding-bottom: 2em;
    padding-top: 3em;
    width: 100%;
    height: 100%;
}
.caja-imagen-pc img{
height: 100%;
}
.caja-imagen-pc img:hover{
    box-shadow: 0px 0px 100px rgba(218, 155, 68,100);
    
    outline-style: groove;
    outline-color : #DA9B44 ;
    outline-width: 1px; 
    transition: outline-width  10s  cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.caja-imagen-pc img:focus-visible{
    box-shadow: 0px 0px 100px rgba(218, 155, 68,100);
    
    outline-style: groove;
    outline-color : #DA9B44 ;
    outline-width: 1px; 
    transition: outline-width  10s  cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.imagen-pc-peli img{

    height: 50%;
    width: 100%;

}
.sinopsis-pc{
    word-wrap: normal;
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
}


.caja-datos-pc{
    
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    
}
.datos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    word-wrap: normal;
    width: 100%;
    
}
.titulo-pc{
    margin: 0;
    font-size: 2.5rem;
    width: 97%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.fecha-puntuacion{
    font-size: 2em;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
}
.fecha-puntuacion h4{
    margin: 0;
}
.cajon-puntuacion{

    align-items: center;
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 3em;
    
}
.cajon-puntuacion h5{
    color: #DA9B44;
}
cajon-puntuacion{
    padding-right:2em ;
    margin: 0;
}
.datos-apate-fecha-etc{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 0.9em;
    gap: 1em;
}
.trailer-pc{
    background-color: #DA9B44;
    margin-bottom: 5em;
    margin-top: 3rem;
    padding: 1.2rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
}
.trailer-pc:hover{
background-color: #9D1B51;
}
@media (max-width:1024px) {
    caja-peli-pc{
        
        
        display: flex;
      
        width: 100%;
        height: 100%;
    }
    .caja-principal-pc{
       
        color: #fff;
        gap: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 109%;
    }   
    .estrellita-pc{
        width:100%;
        height: 3em;
    }
    .estrellita-pc img{
        width: 1.2em;
        height: 1.2em;
    }
    .caja-imagen-pc{
       
        margin-top: 5em;
        padding: 0;
        width: 100%;
        height: max;
    }
    .caja-imagen-pc img{
        height: max-content;
        width: 90%;
    }
    .imagen-pc-peli{

        height: 100%;
        width: 50%;

    }
    .sinopsis-pc{
        
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
    }
  
    
    .caja-datos-pc{
        display: flex;
        flex-direction: column;

        align-items: center;
        
        width: 100%;
        height: auto;
        
    }
    .datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        word-wrap: normal;
        font-size: 0.8em;
        width: 90%;
        margin-bottom: 5em;
    }
    .titulo-pc{
        margin: 0;
        font-size: 2em;
        margin-bottom: 1em;
    }
    .fecha-puntuacion{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
    .fecha-puntuacion h4{
        margin: 0;
    }
    .cajon-puntuacion{

        align-items: center;
        width: 100%;
        font-size: 1.2em;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 3em;
        
    }
    .cajon-puntuacion h5{
        color: #DA9B44;
    }
    cajon-puntuacion{
        padding-right:2em ;
        margin: 0;
    }
    .datos-apate-fecha-etc{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        font-size: 0.7em;
        gap: 1em;
    }
    .trailer-pc{
            background-color: #DA9B44;
            margin-bottom: 5em;
            padding: 1.2rem;
            padding-right: 1.4rem;
            padding-left: 1.4rem;
    }
    .trailer-pc:hover{
        background-color: #9D1B51;
    }
    .trailer-pc:active{
        background-color: #9D1B51;
    }
    .tituloComent{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
        gap: 2em;
    }
    .tituloComent button{
        border: 0;
        background-color: #DA9B44;
        border-radius: 100px;
        cursor: pointer;
        width: 2.5em;
        height: 2.5em;
     
        color: #fff;
    }
    .tituloComent button:hover{
        background-color: #9D1B51;
    }
    .tituloComent button:active{
        background-color: #9D1B51;
    }
    .Caja-comentario{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        width: 100%;
        height: auto;
        padding-bottom: 3em;
      
        

    }
    @media (max-width:368px) {
        .datos-apate-fecha-etc{
            display: flex;
            flex-direction: column;
            font-size: 1.2em;
        }
        .fecha-puntuacion{
            font-size: 1.2em;
        }
        .sinopsis-pc{
            
            font-size: 1.3em;
        }
        .trailer-pc{
            background-color: #DA9B44;
            margin-bottom: 5em;
            padding: 1rem;
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .trailer-pc:hover{
            background-color: #9D1B51;
        }
        
    }
}

