.pelisResulSearch{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40px, 15em));
    grid-auto-flow: row dense;
    justify-content: center;
    padding: 0;
    margin-top: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    margin: 0;
    gap: 8.7em;
}
#botonMostrarMas{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
.botonMostrarMas{
    cursor: pointer;
    color: #fff;
    border: 0;
    background-color: #DA9B44;
    padding: 2em;
    margin-bottom: 5em;
    justify-content: center;
}
.botonMostrarMas:hover{
    background-color: #9D1B51;
}
#Cargador{
    
    padding: 0;


    margin-bottom: 10em;
   justify-content: center;
    height: 5em;
    width: 5em;
  
    display: none;
}

 