.cuerpo-principal-perfil{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}
.cajon-imagen-pag-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cajon-imagen-pag-perfil img{
    padding: 1em;
    width: 10em;
    height: 10em;
    border-radius: 100px;
}
.nombre-user{
    margin-top: 0;
    color: #fff;
}

.Separadot-ranking-user{
    background-color: #fff;
    height: 0.5px;
    color: #fff;
    width: 70%;
    border: #fff;
    border-width: 2em;
}
.texto-ranking-perfil{
    width: 100%;
    margin-top: 1em;
    color: #fff;
}
.texto-ranking-perfil h2{
    margin: 0;
    margin-bottom: 0.5em;
  
}
.text_POR_Ver{
    color: #fff;
}
.caja-rankis-objects{
    justify-content: center;
   width: 100%;
   height: auto;
}
.tituo-prf-fav{
    margin: 0;
    padding-top: 0.7em;
    color: #fff;
}.caja-lista-paraVer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30px, 9em));
    grid-auto-flow: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    padding-bottom: 4em;
   
    margin: 0;
    gap: 4em;
}
.caja-lista-paraVer h2{
    color: #fff;
}
.cajon-Raanking{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30px, 9em));
    grid-auto-flow: row;
    justify-content: center;
    list-style: none;
    padding: 0;
 
   
    margin: 0;
    gap: 4em;
}
@media (max-width:768px) {
    .cajon-imagen-pag-perfil{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .cajon-imagen-pag-perfil img{
        padding: 1em;
        width: 10em;
        height: 10em;
        border-radius: 100px;
    }
    .nombre-user{
        margin-top: 0;
        color: #fff;
    }
 
    .Separadot-ranking-user{
        background-color: #fff;
        height: 0.5px;
        color: #fff;
        width: 70%;
        border: #fff;
        border-width: 2em;
    }
    .texto-ranking-perfil{
        width: 98%;
        margin-top: 1em;
        color: #fff;
    }
    .texto-ranking-perfil h2{
        margin: 0;
        margin-bottom: 0.5em;
  
    }
    .cajon-por-ver{
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
        width: 100%;
        height: auto;
        padding-bottom: 0;

    }
    .caja-rankis-objects{

       width: 100%;
       height: auto;
       padding-bottom: 2em;
    }
   
}
