
.listTop{
        
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40px, 25em));
    grid-auto-flow: row dense;
    justify-content: center;
    padding: 0;
    padding-bottom: 4em;
   
    margin: 0;
    gap: 2em;
}
@media (max-width: 768px) {

    .listTop{
        
        padding: 0;
        padding-top: 1em;
        margin: 0;
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
}
