

::-webkit-scrollbar{
  display: none;
}
:root {
  overflow-y: auto;
  font-family:    Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 20px;
  width: 100%;
  height: 100%;
  background-color: #000017;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}
